.sell-main{
    width: 100vw;
}
.main-head-buy{
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 1rem;
}
.outer-div{
    background: #7fe3f0;
    /* height: 35vh; */
}
.inner-div{
    margin-top: 1rem;
    border-radius: 20px;
    padding: 1rem 2rem 1rem 2rem;
    width: 75vw;
    margin-left: 6.5rem;
    margin-right: 0.5rem;
    height: 15vh;
    z-index: -1;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.inner-div-flex{
    width: 75vw;
    display: flex;
    justify-content: space-around;
}
.search-trains-btn{
    padding: 0.5rem;
   
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    background: #5090f1;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 0.7rem;
    margin-left: 31vw;
    

}
.each-train{
    width: 75vw;
    margin-left: 8rem;
    border: 1px solid rgb(94, 92, 92); 
}
.train-name-num p{
    font-size: 1.3rem;
    padding: 0.5rem;
}
.runs-on-info p{
    font-size: 1.3rem;
    padding: 0.5rem;
}
.each-train-head{
    background: gainsboro;
    display: flex;
    justify-content: space-between;
}
.each-train-main{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.source-info-each-train-main p{
    padding: 0.5rem;
    font-size: 1.4rem;
}
.dest-info-each-train-main p{
    padding: 0.5rem;
    font-size: 1.4rem;
}
.train-taking-time{
    display: flex;
    justify-content: space-around;
    width: 10rem;
    padding: 0.5rem;
    font-size: 1.1rem;
}
.each-train-coach{
    display: flex;
    flex-wrap: wrap;
}
.coach-head{
    background: #ebe6e6;
    margin-left: 1.5rem;
    margin-top: 0.5rem; 
    border-radius: 10px;
    width: 15vw;
    height: 10vh;
}
.coach-head:hover{
    cursor: pointer;
    background: #cecaca;
}
.coach-head p{
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

}
.get-tickets-btn{
    padding: 0.5rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.0rem;
    letter-spacing: 0.1rem;
    background: #63f150;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    margin-left: 33vw;
    margin-bottom: 1rem;
}